body{
  
  font-family: 'Gochi Hand', cursive;
    color: #F1DEDE;
    background-image: url("240_F_442532169_KiMd12GTkhxf58c7wLgxTMmRSwRDcleI.jpg");
  }
  
  .principal{
    padding: 16px;
    display: flex;
    flex-direction: column;
    background-color: #472d30;
    border-radius: 30px;
    padding: 30px;
    margin: 30px;
    
  }
  
  .informa{
    display: flex;
    flex-direction: column-reverse;
  }
  
  a{
    text-decoration: none;
    color: inherit;
  }
  
  a:hover{
    color:#ffe1a8;
  }
  
  .izquierda{
    flex-grow: 1;
    font-size: 2rem;
    
  }
  
  .izquierda p{
    font-size: 3rem;
    font-weight: 700;
    color:#ffe1a8;
   
  }
  
  
  .img{
    width: 300px;
    height: 400px;
  }
  
  .img img{
    width: 90%;
    height: 90%;
    border-radius: 100%;
    
  }
  
  .actividades{
    text-align: center;
    margin: 30px;
    margin-top: 0;
  }
  
  .actividades div{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 16px 0;
  }
  
  .actividades div span{
    padding: 0 4px;
    border-color: #587B7F;
    border-style: solid;
    border-left: 1px;
    border-right: 1px;
    
  }
  
  .porcent{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px;
  }
  
  .valoracion{
    width: 40px;
    height: 40px;
    background-color: #ffe1a8;;
    color: #1E2019;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    justify-content: center;
    align-items: center;
  }
  .cont-link{
      display: flex;
      flex-direction: column;
      gap: 8px;
  }
  @media screen and (min-width: 760px) {
    
    .informa{
      flex-direction: row;
    }
  }

