/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */


   body {
   background: #b2675e;
   width: 100%;
   min-height: 100vh;
   margin: 0;
  display: grid;
  grid-template-rows: auto 1fr;
  }

 .tree{
   width: 50%;
   height: 100%;
   left: 0;
   bottom: 0;
   display: flex;
   align-items: end;
   position: absolute;
 }

 .tree img{
   width: 100%;
   height: 100%;
 }
 .welcome{
   width: 150px;
   height: 90px;
   top: 400px;
   left: 400px;
   display: inline;
  
 }

 main{
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
 }
 
 header{
   width: 100%;
  
 }
 nav{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: #c4a381;
   
 }

 .name{
  font-family: 'Gochi Hand', cursive;
  font-size: 30px;
  margin-left: 10px;
 }
 .main-menu{
  display: flex;
  align-items: center;
  margin-right: 10px;
  position: relative;
  z-index: 20;
}

.main-menu li{
   list-style: none;
   margin: 10px;
   font-size: 20px;
   font-family: 'Gochi Hand', cursive;
 }
 .main-menu li a{
   color: black;
   text-decoration: none;
   transform: all 0.5s ease;
 }

 .main-menu li a:hover{
  padding: 5px 10px;
  background: black;
  color: white;
  border-radius: 15px;
}

  
