body{
    margin: 0;
    padding: 0;
}
main{
    background: linear-gradient(rgba(5,7,12,0.75),rgba(5,7,12,0.75)), url("bun.png");
    
}
.soup{
    margin: auto; 
}

.cont{
    margin: auto;
    width: 500px;
    height: 500px;
    padding: 30px;
    border-radius: 10px;
    overflow: hidden;
}
.box{
    font-family: 'Gochi Hand', cursive;
    background-color: rgba(163, 131, 131, 0.979);
    color:white;
    margin: 5px;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    box-shadow: 0 0 5px rgba(7, 8, 10, 0.986);
    border-radius: 5px;
    float: left;
}
.resaltar{
    color: white;
    background-color: #0e1033f5;
}
h1{
    text-align: center;
    font-family: 'Indie Flower', cursive;
    margin: 0;
    font-size: 50px;
    background-color: #6e84a38e;
}
